{{!-- <form action="Category" method="post">
    <div class="form-group">
        <label for="addcategory">Add Category:</label>
        <input style="width: 20rem;" type="text" class="form-control" name="category" id="addcategory"
            placeholder="Enter Category Name">

        <div class="invalid-feedback">Category Name Can't Be Empty</div>

        <button style="position: relative;right:30%" class="btn btn-dark mt-5 mx-auto d-block" type="submit">Submit</button>
           

    </div>

</form>
<div class="card-body">
    <div class="table-responsive">
        <table id="datatable" class="table data-table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Category Name</th>
                   
                   <th>Options</th>
                    {{!-- <th>Action</th>
                    <th>Options</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each findCategory}}
                <tr>
                    <td>{{category}}</td>
                  
                        {{!-- <td>{{Status}}</td> --}}
                    
                            {{!-- {{#if Status}}
                            <td>
                                <a href="/Active/{{_id}}" class="btn btn-success">ACTIVE</a>
                            </td>
                            {{else}}
                            <td>
                                <a href="/Inactive/{{_id}}"><button class="btn btn-danger">INACTIVE</button></a>
                            </td>
                            {{/if}} --}}

                            {{!-- <td><a href="/editCategory/{{_id}}" ><button  type="button"  class="btn btn-primary">EDIT</button></a>

                         
                                <a href="/categoryDelete/{{_id}}" class="btn btn-danger"
                                    onclick="return confirm('Are you want to delete {{category}}?')">DELETE</a>
                            </td>
                        </tr>


                {{/each}}
        </table>
    </div>
</div>  --}}

