{{!-- <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
	<div class="card-body">
		<div class="billing-address-form">
			<form onsubmit="return checkOutverify()" oninput="displayadddress()" action="" method="" id="checkout"
				name="checkout">
				<p><input type="text" id="fullname" name="fullname" placeholder="Fullname"
						value="{{displayAddress.fullname}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" id="lastname" name="lastname" placeholder="Lastname"
						value="{{displayAddress.lastname}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="email" id="email" name="email" placeholder="Email" value="{{displayAddress.email}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" id="address" name="address" placeholder="Address"
						value="{{displayAddress.address}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="tel" id="phone" name="phone" placeholder="Phone" value="{{displayAddress.phone}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="number" id="pincode" name="pincode" placeholder="Pin Code"
						value="{{displayAddress.pincode}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" id="state" name="state" placeholder="State" value="{{displayAddress.state}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" id="city" name="city" placeholder="City" value="{{displayAddress.city}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" id="town" name="town" placeholder="Town" value="{{displayAddress.town}}"></p>
				<p class="text-danger text-center w-100"></p>
				<p><input type="text" name="userId" value="{{user._id}}" hidden></p>
				<input type="radio" name="payment" value="COD"><label class="ms-2 me-5">COD</label>
				<input type="radio" name="payment" value="online payment">
				<labe class="ms-2 me-5">Online Payment</label>
					<p class="text-danger text-center w-100"></p>



		</div>
		<a href="/showAddress" style="position: relative;left: 22px;">Show Address</a>
	</div> --}}



	<!DOCTYPE html>
	<html lang="en">

	<head>
		<title>Shoping Cart</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================-->
		<link rel="icon" type="image/png" href="images/icons/favicon.png" />
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!--===============================================================================================-->
	</head>

	<body class="animsition">

		<!-- Header -->
		<header class="header-v4">
			<!-- Header desktop -->
			<div class="container-menu-desktop">
				<!-- Topbar -->
				<div class="top-bar">
					<div class="content-topbar flex-sb-m h-full container">
						{{!-- <div class="left-top-bar">
							Free shipping for standard order over $100
						</div> --}}

						{{!-- <div class="right-top-bar flex-w h-full">
							<a href="#" class="flex-c-m trans-04 p-lr-25">
								Help & FAQs
							</a>

							<a href="#" class="flex-c-m trans-04 p-lr-25">
								My Account
							</a>

							<a href="#" class="flex-c-m trans-04 p-lr-25">
								EN
							</a>

							<a href="#" class="flex-c-m trans-04 p-lr-25">
								USD
							</a>
						</div> --}}
					</div>
				</div>

				<div class="wrap-menu-desktop how-shadow1">
					<nav class="limiter-menu-desktop container">

						<!-- Logo desktop -->
						<a href="#" class="logo">
							<img src="/images/menstyle.jpg" alt="IMG-LOGO">
						</a>

						<!-- Menu desktop -->
						<div class="menu-desktop">
							<ul class="main-menu">
								<li>
									<a href="/">Home</a>
									{{!-- <ul class="sub-menu">
										<li><a href="index.html">Homepage 1</a></li>
										<li><a href="home-02.html">Homepage 2</a></li>
										<li><a href="home-03.html">Homepage 3</a></li>
									</ul> --}}
								</li>

								<li>
									<a href="userShop">Shop</a>
								</li>

								{{!-- <li class="label1" data-label1="hot">
									<a href="shoping-cart.html">Features</a>
								</li> --}}
								{{!--
								<li>
									<a href="blog.html">Blog</a>
								</li> --}}

								{{!-- <li>
									<a href="about.html">Order</a>
								</li> --}}

								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</div>

						<!-- Icon header -->
						<div class="wrap-icon-header flex-w flex-r-m">
							{{!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
								<i class="zmdi zmdi-search"></i>
							</div> --}}

							<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart"
								data-notify="2">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>

							<a href="" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 " data-notify="0">
								<i class="zmdi zmdi-favorite-outline"></i>
							</a>
						</div>
					</nav>
				</div>
			</div>





			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<a href="index.html"><img src="/images/menstyle.jpg" alt="IMG-LOGO"></a>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m m-r-15">
					{{!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					</div> --}}

					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart"
						data-notify="2">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>

					<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 "
						data-notify="0">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>


			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					{{!-- <li>
						<div class="left-top-bar">
						
						</div>
					</li> --}}

					{{!-- <li>
						<div class="right-top-bar flex-w h-full">
							<a href="#" class="flex-c-m p-lr-10 trans-04">
								Help & FAQs
							</a>

							<a href="#" class="flex-c-m p-lr-10 trans-04">
								My Account
							</a>

							<a href="#" class="flex-c-m p-lr-10 trans-04">
								EN
							</a>

							<a href="#" class="flex-c-m p-lr-10 trans-04">
								USD
							</a>
						</div>
					</li> --}}
				</ul>

				<ul class="main-menu-m">
					<li>
						<a href="/">Home</a>
						{{!-- <ul class="sub-menu-m">
							<li><a href="index.html">Homepage 1</a></li>
							<li><a href="home-02.html">Homepage 2</a></li>
							<li><a href="home-03.html">Homepage 3</a></li>
						</ul> --}}
						{{!-- <span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span> --}}
					</li>

					<li>
						<a href="userShop">Shop</a>
					</li>

					{{!-- <li>
						<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
					</li> --}}

					{{!-- <li>
						<a href="blog.html">Blog</a>
					</li>

					<li>
						<a href="about.html">About</a>
					</li> --}}

					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>

			<!-- Modal Search -->
			<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
				<div class="container-search-header">
					<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
						<img src="images/icons/icon-close2.png" alt="CLOSE">
					</button>

					<form class="wrap-search-header flex-w p-l-15">
						<button class="flex-c-m trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="plh3" type="text" name="search" placeholder="Search...">
					</form>
				</div>
			</div>
		</header>

		<!-- Cart -->
		<div class="wrap-header-cart js-panel-cart">
			<div class="s-full js-hide-cart"></div>

			<div class="header-cart flex-col-l p-l-65 p-r-25">
				<div class="header-cart-title flex-w flex-sb-m p-b-8">
					<span class="mtext-103 cl2">
						Your Cart
					</span>

					<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
						<i class="zmdi zmdi-close"></i>
					</div>
				</div>

				<div class="header-cart-content flex-w js-pscroll">
					<ul class="header-cart-wrapitem w-full">
						<li class="header-cart-item flex-w flex-t m-b-12">
							<div class="header-cart-item-img">
								<img src="images/item-cart-01.jpg" alt="IMG">
							</div>

							<div class="header-cart-item-txt p-t-8">
								<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
									White Shirt Pleat
								</a>

								<span class="header-cart-item-info">
									1 x $19.00
								</span>
							</div>
						</li>

						<li class="header-cart-item flex-w flex-t m-b-12">
							<div class="header-cart-item-img">
								<img src="images/item-cart-02.jpg" alt="IMG">
							</div>

							<div class="header-cart-item-txt p-t-8">
								<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
									Converse All Star
								</a>

								<span class="header-cart-item-info">
									1 x $39.00
								</span>
							</div>
						</li>

						<li class="header-cart-item flex-w flex-t m-b-12">
							<div class="header-cart-item-img">
								<img src="images/item-cart-03.jpg" alt="IMG">
							</div>

							<div class="header-cart-item-txt p-t-8">
								<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
									Nixon Porter Leather
								</a>

								<span class="header-cart-item-info">
									1 x $17.00
								</span>
							</div>
						</li>
					</ul>

					<div class="w-full">
						<div class="header-cart-total w-full p-tb-40">
							Total: $75.00
						</div>

						<div class="header-cart-buttons flex-w w-full">
							<a href="shoping-cart.html"
								class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
								View Cart
							</a>

							<a href="shoping-cart.html"
								class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
								Check Out
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- breadcrumb -->

		<!-- Page Header End -->


		<!-- Checkout Start -->


		<div class="container-fluid pt-5">
			<form id="checkout-form" method="post" name="submission">

				<div class="row px-xl-5">

					<div class="col-lg-8">

						<h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>First Name</label>
								<input class="form-control" type="text" id="Firstname" name="Firstname"
									value="{{addresspass.Firstname}}">
							</div>
							<div class="col-md-6 form-group">
								<label>Last Name</label>
								<input class="form-control" type="text" id="Lastname" name="Lastname"
									value="{{addresspass.Lastname}}">
							</div>
							<div class="col-md-6 form-group">
								<label>E-mail</label>
								<input class="form-control" type="text" id="Email" name="Email"
									value="{{addresspass.Email}}">
							</div>
							<div class="col-md-6 form-group">
								<label>Mobile No</label>
								<input class="form-control" type="number" id="Mobilenumber" name="Mobilenumber"
									value="{{addresspass.Mobilenumber}}">
							</div>
							<div class="col-md-6 form-group">
								<label>Address</label>
								<input class="form-control" type="text" id="Address" name="Address"
									value="{{addresspass.Address}}">
							</div>
							<div class="col-md-6 form-group">
								<label>Post code</label>
								<input class="form-control" type="number" id="Postcode" name="Postcode"
									value="{{addresspass.Postcode}}">
							</div>
							{{!-- <div class="col-md-6 form-group">
								<label>Country</label>
								<select class="custom-select">
									<option selected>United States</option>
									<option>Afghanistan</option>
									<option>Albania</option>
									<option>Algeria</option>
								</select>
							</div> --}}
							<div class="col-md-6 form-group">
								<label>State</label>
								<input class="form-control" type="text" id="State" name="State"
									value="{{addresspass.State}}">
							</div>
							<div class="col-md-6 form-group">
								<label>City</label>
								<input class="form-control" type="text" id="City" name="City"
									value="{{addresspass.City}}">
							</div>
							{{!-- <div class="col-md-6 form-group">
								<label>ZIP Code</label>
								<input class="form-control" type="text" placeholder="123">
							</div> --}}
							<div class="col-md-12 form-group">
								<div class="custom-control custom-checkbox ">
									<input type="checkbox" class="custom-control-input" id="newaccount">
									<a href="/userAddress" type="submit ">Select Address</a>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="shipto">
									<label class="custom-control-label" for="shipto" data-toggle="collapse"
										data-target="#shipping-address"></label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="card border-secondary mb-5">
							<div class="card-header bg-secondary border-0">
								<h4 class="font-weight-semi-bold m-0 text-white">Total</h4>
							</div>
							{{!-- <div class="card-body">
								<h5 class="font-weight-medium mb-3">Products</h5>
								<div class="d-flex justify-content-between">
									<p>Colorful Stylish Shirt 1</p>
									<p>$150</p>
								</div>
								<div class="d-flex justify-content-between">
									<p>Colorful Stylish Shirt 2</p>
									<p>$150</p>
								</div>
								<div class="d-flex justify-content-between">
									<p>Colorful Stylish Shirt 3</p>
									<p>$150</p>
								</div>
								<hr class="mt-0">
								<div class="d-flex justify-content-between mb-3 pt-1">
									<h6 class="font-weight-medium">Subtotal</h6>
									<h6 class="font-weight-medium">$150</h6>
								</div>
								<div class="d-flex justify-content-between">
									<h6 class="font-weight-medium">Shipping</h6>
									<h6 class="font-weight-medium">$10</h6>
								</div>
							</div> --}}
							<div class="card-footer border-secondary bg-transparent">
								<div class="d-flex justify-content-between mt-2">
									<h5 class="font-weight-bold">Cart Total</h5>
									<span class="mtext-110 cl2" >
										₹ {{grand_total}}
								</div>
							</div>
						</div>






						<div class="card border-secondary mb-5">
							<div class="card-header bg-secondary border-0">
								<h4 class="font-weight-semi-bold m-0 text-white">Payment Method</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<div class="custom-control custom-radio">
										<input type="radio" name="paymentmethod" value="COD">
										<labe class="ms-2 me-5">Cash On Delivery</label>
									</div>
									<div class="form-group">
										<div class="custom-control custom-radio">
											<input type="radio" name="paymentmethod" value="ONLINE">
											<labe class="ms-2 me-5">Online Payment</label>
										</div>
									</div>
									{{!-- <div class="">
										<div class="custom-control custom-radio">
											<input type="radio" class="custom-control-input" name="payment"
												id="banktransfer">
											<label class="custom-control-label" for="banktransfer">Bank Transfer</label>
										</div>
									</div> --}}
								</div>
								<button class="btn btn-dark btn-lg btn-block" type="submit">Place Order</button>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>







		<!-- Shoping Cart -->

		<!-- Footer start-->
		<footer class="bg3 p-t-75 p-b-32">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Categories
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									T-SHIRT
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									JEANS
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									SHIRT
								</a>
							</li>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									HOODIES
								</a>
							</li>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									CARGO
								</a>
							</li>

							{{!-- <li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Watches
								</a>
							</li> --}}
						</ul>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Help
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Track Order
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Returns
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Shipping
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									FAQs
								</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							GET IN TOUCH
						</h4>

						<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor,Kinfra Kakkanchery, Malappuram, IND 674018 or
						call us
						on (+91) 96 7161 6879
					    </p>

						<div class="p-t-27">
							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-instagram"></i>
							</a>

							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-pinterest-p"></i>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Newsletter
						</h4>

						<form>
							<div class="wrap-input1 w-full p-b-4">
								<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
									placeholder="Menstyle@gmail.com">
								<div class="focus-input1 trans-04"></div>
							</div>

							<div class="p-t-18">
								<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Subscribe
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class="p-t-40">
					<div class="flex-c-m flex-w p-b-18">
						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
						</a>
					</div>

					<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
						class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Menstyle</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
				</div>
			</div>
		</footer>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<!--===============================================================================================-->
		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<!--===============================================================================================-->
		<script src="js/main.js"></script>

	</body>

	</html>
	


<script>
$("#checkout-form").submit((e) => {

	e.preventDefault();
	
	$.ajax({
		url: '/placeorder',
		method: 'post',
		data: $('#checkout-form').serialize(),
		success: (response) => {
			if (response.status == true) {
				razorpayPayment(response.order);
				
				
			} else {
				
				location.href = '/placeorder';
				
			}
		},
		
	});
});



	function razorpayPayment(order) {
  order.amount = parseInt(order.amount);

  var options = {
    key: "rzp_test_PpPTFLpvytFBKW", // Enter the Key ID generated from the Dashboard
    amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    currency: "INR",
    name: "Phone Store", //your business name
    description: "Test Transaction",
    image: "https://example.com/your_logo",
    order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    callback_url: "https://eneqd3r9zrjok.x.pipedream.net/",

    handler: function (response) {
      verifyPayment(response, order);
    },
    prefill: {
      name: "Gaurav Kumar", //your customer's name
      email: "gaurav.kumar@example.com",
      contact: "9000090000",
    },
    notes: {
      address: "Razorpay Corporate Office",
    },
    theme: {
      color: "#3399cc",
    },
  };

  var rzp = new Razorpay(options);
  rzp.open();
}





function verifyPayment(payment, order) {
  $.ajax({
    url: '/verify-payment',
    data: {
      payment,
      order
    },
    method: "post",
    success: (response) => {
		console.log(response)
      if (response.PaymentSuccess) {
        location.href = '/placeorder';
      } else {
        alert('Payment failed');
      }
	  
    }
  });
}

</script>
